.settings/*

target/*

*.project

database.properties


/bin/
E-Invoice_System/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
E-Invoice_System/target/m2e-wtp/web-resources/META-INF/maven/Group1/E-Invoice_System/pom.properties
E-Invoice_System/target/m2e-wtp/web-resources/META-INF/maven/Group1/E-Invoice_System/pom.properties
E-Invoice_System/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
E-Invoice_System/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
