USE [master]
GO
/****** Object:  Database [E_Invoice_System]    Script Date: 5/17/2018 11:39:59 PM ******/
CREATE DATABASE [E_Invoice_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_Invoice_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\E_Invoice_System.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'E_Invoice_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\E_Invoice_System_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_Invoice_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_Invoice_System]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 5/17/2018 11:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[hashPassword] [varchar](255) NULL,
	[isActive] [bit] NULL,
	[role] [varchar](255) NULL,
	[userName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 5/17/2018 11:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[VAT] [float] NULL,
	[amountOfMoney] [float] NULL,
	[customerCode] [bigint] NULL,
	[dateTime] [datetime2](7) NULL,
	[description] [varchar](255) NULL,
	[invoiceNo] [varchar](255) NULL,
	[typeName] [varchar](255) NULL,
	[owner_id] [bigint] NULL,
	[type_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[invoicetypes]    Script Date: 5/17/2018 11:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[invoicetypes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[isDeleteAble] [bit] NULL,
	[logo] [ntext] NULL,
	[name] [varchar](255) NULL,
	[owner_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/17/2018 11:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[limitedMoney] [float] NULL,
	[name] [varchar](255) NULL,
	[phoneNumber] [varchar](255) NULL,
	[account_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([id], [hashPassword], [isActive], [role], [userName]) VALUES (1, N'$2a$10$/P5CjV6Ku2oXcDUkE2Lfg.AMxWgaRxKZe5.RjA5KY54gPuQcN/4x2', 1, N'ROLE_ADMIN', N'admin')
INSERT [dbo].[accounts] ([id], [hashPassword], [isActive], [role], [userName]) VALUES (2, N'$2a$10$VV00/pWCDI.Fas0wqBp5Hu5KSJ.o7pnNpLByVr7g/Z3UMBdk5.T7O', 1, N'ROLE_MEMBER', N'phongdao')
SET IDENTITY_INSERT [dbo].[accounts] OFF
SET IDENTITY_INSERT [dbo].[invoices] ON 

INSERT [dbo].[invoices] ([id], [VAT], [amountOfMoney], [customerCode], [dateTime], [description], [invoiceNo], [typeName], [owner_id], [type_id]) VALUES (1, 2, 245, 1412393, CAST(N'2018-02-28 00:00:00.0000000' AS DateTime2), N'Electronic invoice', N'10001', N'Electricity', 2, 4)
INSERT [dbo].[invoices] ([id], [VAT], [amountOfMoney], [customerCode], [dateTime], [description], [invoiceNo], [typeName], [owner_id], [type_id]) VALUES (2, 2, 144, 1411111, CAST(N'2018-02-20 00:00:00.0000000' AS DateTime2), N'Water invoice', N'20001', N'Water ', 2, 3)
INSERT [dbo].[invoices] ([id], [VAT], [amountOfMoney], [customerCode], [dateTime], [description], [invoiceNo], [typeName], [owner_id], [type_id]) VALUES (3, 3, 99, 210696, CAST(N'2018-02-02 00:00:00.0000000' AS DateTime2), N'Gym invoice', N'30001', N'Gym', 2, 5)
SET IDENTITY_INSERT [dbo].[invoices] OFF
SET IDENTITY_INSERT [dbo].[invoicetypes] ON 

SET IDENTITY_INSERT [dbo].[invoicetypes] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [address], [email], [limitedMoney], [name], [phoneNumber], [account_id]) VALUES (1, N'HCM city', N'admin@admin', 10000, N'Default admin', N'000000000', 1)
INSERT [dbo].[users] ([id], [address], [email], [limitedMoney], [name], [phoneNumber], [account_id]) VALUES (2, N'Thu Duc, HCM city', N'daovanphong216@gmail.com', 10000, N'Dao Van Phong', N'01627183143', 2)
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_59cjm4w73ktqe9sjm5uw2vsuf] FOREIGN KEY([type_id])
REFERENCES [dbo].[invoicetypes] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_59cjm4w73ktqe9sjm5uw2vsuf]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_hia17kh9x1tp2083ocnjveg8p] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_hia17kh9x1tp2083ocnjveg8p]
GO
ALTER TABLE [dbo].[invoicetypes]  WITH CHECK ADD  CONSTRAINT [FK_5qu86bnhgy34vin2cxo0tchcj] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[invoicetypes] CHECK CONSTRAINT [FK_5qu86bnhgy34vin2cxo0tchcj]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_1yov8c5ew74vlt8qra6cewq99] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_1yov8c5ew74vlt8qra6cewq99]
GO
USE [master]
GO
