body {
    margin: 15px;
}

.jumbotron {
    background: #fff;
}

.fa {
    font-size: 0.5em;
}

table {
    width: 100%;
}

th {
    text-align: center;
}

td {
    width: 12%;
    height: 60px;
    text-align: center;
}

td,
#year {
    font-family: monospace;
}

.hover {
    background: #eee;
}

#about {
    font-size: 5em !important;
    position: absolute;
    top: -35px;
    right: 15px;
}

    #about a {
        text-decoration: none;
    }
.cal-container{
	width: 45%;
	display: inline-block;
}
.selectedView{
	display: inline-block;
	width: 50%;
	float: right;
	margin-top: 350px;
	
}
