@charset "ISO-8859-1";
.ueditcontainer{
	width: 80% !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
   	height: 500px;
}
.modal-header, h4, .close {
	background-color:  #ff9933;
	color: white!importance;
	text-align: center;
	font-size: 30px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=name],
	input[type=tel] {
	width: 100%;
	padding: 5px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: white;
	box-shadow: 2px 2px 5px black;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
	input[type=name]:focus, input[type=tel]:focus {
	background-color: #f1f1f1;
	outline: none;
}